.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 681px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 45px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 238px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 0 0 0 7px;
}

.u-section-1 .u-text-8 {
  margin: 20px 7px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 603px;
  transition-duration: 1s;
  animation-duration: 1000ms;
}

.u-section-1 .u-image-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 275px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-12 {
  margin: 13px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 179px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(1, 0, 2) !important;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1209px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 342px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 430px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 437px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1537px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 489px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 189px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 199px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 206px;
  }

  .u-section-1 .u-icon-1 {
    width: 578px;
    height: 578px;
    margin-top: -1247px;
    margin-right: -106px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 710px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 447px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 536px;
}

.u-section-2 .u-group-1 {
  width: 573px;
  min-height: 378px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 79px auto 60px 51px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0 6px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 13px 74px 0 51px;
}

.u-section-2 .u-image-1 {
  width: 245px;
  height: 245px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 13px auto 0 152px;
}

.u-section-2 .u-list-1 {
  width: 512px;
  margin: -294px -451px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  grid-gap: 21px 21px;
  min-height: 306px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: 60px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    width: 234px;
    height: 234px;
    margin-top: 24px;
    margin-left: 163px;
  }

  .u-section-2 .u-list-1 {
    width: 451px;
    margin-top: -234px;
    margin-right: -338px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 253px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    height: 65px;
    width: 65px;
    margin-right: 51px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    height: 65px;
    width: 65px;
    color: rgb(137, 216, 227) !important;
    margin-right: 51px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-2 .u-group-1 {
    min-height: 558px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 183px;
    height: 183px;
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 496px;
    margin-top: 38px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-group-1 {
    min-height: 566px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 58px;
    margin-left: 35px;
  }

  .u-section-2 .u-image-1 {
    width: 190px;
    height: 190px;
    margin-top: 5px;
  }

  .u-section-2 .u-list-1 {
    width: 420px;
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 252px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-group-1 {
    min-height: 713px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 153px;
    height: 153px;
    margin-top: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 296px;
    margin-top: 34px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 442px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
  }
}